### This notebook contains some practice exercises for Python libraries such as 
#### 1) Numpy
#### 2) Pandas
#### 3) Matplotlib

#### Solutions for the below exercises can be found Exercises solutions file
##### Note: Please try the exercises first, if you are stuck then see the solutions

# Numpy

In [0]:
# Import Numpy
import numpy as np

#### Exercise 1: Create an array of 64 values starting with 10 and ending with 15 and assign it to x

#### **Remember**: The third parameter to linspace is the number of values to obtain from the real line interval starting from 10 to 15 in this case.

In [0]:
x=np.array b

#### Exercise 2: Reshape x into a 3-Dimensional Array


#### Exercise 3: Get the slice with first row of x (Numpy array slicing)

# Pandas

##### Note: Basics can be found [link here](https://colab.research.google.com/drive/1qm3w99JlIe7wOJikRrb37kJMJYDyqqCR)

#### Loading libraries and dataset

In [0]:
import pandas as pd

# Loading the titanic dataset from internet
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv") 

print(df)

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

## Practice section 1: Knowing your data

#### Exercise 1: Getting the first 10 rows of the dataset

#### Exercise 2: What is the number of observations in the dataset ?

#### Exercise 3: What is the number of columns in the dataset?

#### Exercise 4: What are the names of columns ?

#### Exercise 5: How is the dataset indexed ?

#### Exercise 6: How many people survived?

#### Exercise 7: Print unique towns in Embark town field ?

#### Exercise 8: Find the data type of age field ?

#### Exercise 9: Find the distribution of values in the alive field ?

#### Exercise 10: What is the town with most passengers ?

#### Exercise 11: Summarise the dataframe

#### Exercise 12: Summarise all the columns

#### Exercise 13: Summarize only the survived column

#### Exercise 14: What is the mean age of passengers?

#### Exercise 15: What is the age with least occurrence?

## Practice section 2: Filtering and Sorting

#### Loading the nations dataset

In [0]:
# Loading the titanic dataset from internet
df = pd.read_csv("https://raw.githubusercontent.com/vamsivarma/datasets/master/data_science/pandas/nations.csv") 

#print(df)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5275 entries, 0 to 5274
Data columns (total 11 columns):
iso2c                 5250 non-null object
iso3c                 5275 non-null object
country               5275 non-null object
year                  5275 non-null int64
gdp_percap            4509 non-null float64
life_expect           4882 non-null float64
population            5261 non-null float64
birth_rate            4980 non-null float64
neonat_mortal_rate    4750 non-null float64
region                5275 non-null object
income                5275 non-null object
dtypes: float64(5), int64(1), object(5)
memory usage: 453.4+ KB

#### Exercise 1: Sort the dataset by country name

#### Exercise 2: Country with highest population

#### Exercise 3: Find the number of times China is there in the country coulumn in the dataset

#### Exercise 4: View only the columns country, year, life_expect, birth_rate and assign them to a dataframe called filtered_df

#### Exercise 5: Sort the dataset by life_expect and then by birth_rate

#### Exercise 6: Filter the top 5 countries which have life expectancy more than 75

#### Exercise 7: Find the country names which start with G

#### Exercise 8: Select the first 7 columns

#### Exercise 9: Select all columns except the last 3.

#### Set the column country as the index of dataframe

#### Exercise 10: Find the Life_Expect, GDP_PERCAP from India and Italy

#### Exercise 11: Select the rows 3 to 7 and the columns 3 to 6

#### Exercise 12: Select every row after the fourth row and all columns

#### Exercise 13: Select every row up to the 4th row and all columns

#### Exercise 14: Select the 3rd column up to the 7th column

#### Exercise 15: Select rows where life_expect is greater than 50 or less than 70

### Practice section 3: Grouping

#### Exercise 1: Find the mean of life_expect by region

#### Exercise 2: Find the mean, median min and max values for life_expect grouped by region

#### Exercise 3: Find the mean, median min and max values for life_expect grouped by region and year

### Practice section 4: Apply

#### Exercise 1: Add a new column, "life_expect_range" to the dataset and if a row has life_expect more than 70, the value will of that column will be Good, if the life_expect is between 50 and 70 then the value will be Normal, if the life_expect is less than 50 then the value is Low

# Matplotlib

##### Note: Basics can be found [here](https://colab.research.google.com/drive/1w1avCRKl_4Mj2e5aPMuRQGyqHxNrW647)

In [1]:
# Import libraries and load dataset
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Loading the titanic dataset from internet
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv") 

df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

#### Exercise 1: Create a pie chart presenting the male/female proportion

#### Exercise 2: Bar chart to plot the number of people survived in each town

#### Useful references
https://github.com/guipsamora/pandas_exercises - Includes a lot of practice exercises for Pandas